*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

NetworkTestServer/IpAddress.java
NetworkTestClient/app/src/main/java/com/example/networktestclient/IpAddress.java
IpAddress.java

